/*
 * Styles de l'interface
 */
#fav_render_context
{
	all:  				initial;
	position:			fixed;
	z-index: 			-9999999999999999999999999;					/* Passer au dessus des publicitaires qui utilisent bêtement ce tricks */
	opacity: 			0;
}
#fav_render_context_visjs
{
	height: 			100%;
}
#fav_render_context_img
{
	position: 			fixed;
	z-index:			10;				/* Juste pour passer au-dessus de visjs div */
	top:				0;
	right: 				0;
}
#fav_render_context_img_img
{
	width: 					100px;
	min-width: 				100px;
	height:					100px;
}
#fav_render_context_img_img
{
	pointer-events: 		none; 	
	user-select:  			none;
	-moz-user-select: 		none;
	-webkit-user-select: 	none;
	-ms-user-select: 		none;
}
/* Customisation de la popup sur les favoris */
div.vis-tooltip
{
	background-color:		black;
	border:					none;
	color:					white;
	padding:				0px;
}
div.vis-tooltip-label
{
	font-weight: 			bold;
	text-align: 			center;
}
div.vis-tooltip-date
{
	font-style: 			italic;
}
div.vis-tooltip > *
{
	padding:				2px;
}
/* Customisation du menu context */
div.vis-contextmenu
{
	all:  					initial;
	position: 				fixed;
	z-index: 				10;
	z-index: 				999999999999999999999999999999999999999999999999999999999999999;
	user-select:  			none;
	-moz-user-select: 		none;
	-webkit-user-select: 	none;
	-ms-user-select: 		none;
}
div.vis-contextmenu>div.vis-contextmenu-field
{
	padding: 				2px 13px;
	cursor: 				default;
}
div.vis-contextmenu textarea
{
	background-color: 		black;
	border: 				none;
	width: 					100%;
}
html{
	padding: 	0;
}