button[type="button"] {
	color:				#ffffff;
	background-color: 	#0060df;
	border: 			none;
	border-radius:  	2px;
	padding: 			0px 8px;
	width: 				auto;
	height: 			24px;
	font-size:			11px;
	cursor: 			pointer;
}
button[type="button"]:hover {
	background-color: 	#003eaa;
}
button[type="button"]:focus{
	box-shadow: 		0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
button[type="button"]:active{
	background-color: 	#002275;
}